<div class="desktop2-container">
    <div class="desktop2-desktop2">
      <div class="desktop2-desktop1">
        <img
          src="/assets/playground_assets/rectangle4715-oyl.svg"
          alt="Rectangle4715"
          class="desktop2-rectangle4"
        />
        <img
          src="/assets/playground_assets/rectangle2710-auiq.svg"
          alt="Rectangle2710"
          class="desktop2-rectangle2"
        />
        <img
        src="/assets/playground_assets/rectangle8112-e6e.svg"
        alt="Rectangle8112"
        class="desktop2-rectangle7"
        />
        <img
          src="/assets/playground_assets/rectangle8112-e6e.svg"
          alt="Rectangle8112"
          class="desktop2-rectangle8"
        />
        <img
          src="/assets/playground_assets/image1720-pru-700w.png"
          alt="image1720"
          class="desktop2-image1"
        />
        <img
          src="/assets/playground_assets/rectangle5132-7jv6.svg"
          alt="Rectangle5132"
          class="desktop2-rectangle5"
        />
        <a href="start"><span class="desktop2-text"><span>START SNORT</span></span></a>
        <a href="start"><span class="desktop2-text2"><span>VIEW SNORT</span></span></a>
        <a href="gen"><span class="desktop2-text4"><span>GENERATE SNORT</span></span></a>
      </div>
    </div>
  </div>
  