<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <!-- <img src="" height="100%" width="100%"> -->
        </div>
        <div class="col-md-4 mt-3 mb-2">
            <h2 class="text-secondary text-center"><b>Welcome </b></h2>

            <form action="" class="mt-5 p-5">
                <h5 class="text-primary mb-3">Sign up </h5>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="username" placeholder="Username" name="username" [(ngModel)]="username">
                    <label for="floatingInput">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="email" placeholder="Mail-ID" name="email" [(ngModel)]="email">
                    <label for="floatingInput">E-mail</label>
                </div>
                
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" [(ngModel)]="password">
                    <label for="floatingPassword">Password</label>
                  </div>
                  
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button class="btn btn-outline-success me-md-2" type="button" (click)="regis()" >Register</button>
                  </div>

                  <a routerLink="/" class="text-primary" style="text-decoration: none;">Log In ? </a>
            </form>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>