<nav>
    <input type = "checkbox" id = "check">
    <label for= "check" class = "checkbtn">
         <i class="fas fa-bars"></i>
           </label>
     <label class="logo"><a href="home"><img class='zoom' src="assets/images/snortlogo.jpg" align="left" width=150 height=80></a> SNORT RULE GENERATOR </label> 
     <ul>
         <!-- <li><p>${regname}</p></li> -->
         <li><a href="gen">Generate snort rule</a></li>
         <li><a href='rulefetch'>View snort rule</a></li>
         <li><a href='snortstart'>starting snort</a></li>
     </ul>
    </nav>
    <section>
    <div class="container">
        <!-- <h4> Just for single application need well-defined UI</h4> -->
         <form class = "one" action="/rulepost" method="POST">
             <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
             <div class="fields">
                 <div class= "input-field" >
                     <label for="protocol">Protocol: </label>
                     <select name = "protocol" id="protocol">
                     <option value="">--Select the Protocol--</option>
                     <option value = "tcp">TCP</option>
                     <option value = "udp">UDP</option>
                     <option value = "icmp">ICMP</option>
                     </select>
                 </div>
                 <div class= "input-field" >
                     <label for="srcip">Source address: </label>
                         <input type="text" placeholder= "Enter source address" name="srcip" id="srcip">
                 </div>
                 <div class= "input-field" >
                     <label for="src_port">Enter src port: </label>
                         <input type="text" name="src_port" id="src_port">
                 </div>
                 <div class= "input-field" >
                     <label for="direction">Direction: </label>
                         <select name = "direction" id="direction">
                         <option value="" >--Select the Direction--</option>
                         <option value = "&rarr;">&rarr;</option>
                         <option value = "<>"><></option>
                         </select>
                 </div>
                 <div class= "input-field" >
                     <label for="dst_ip">Destination Address: </label>
                         <input type="text" placeholder="Enter destination Address"  name="dst_ip" id="dst_ip">
                 </div>
                 <div class= "input-field" >
                     <label for="dst_port">Destination Port: </label>
                         <input type="text" placeholder="Enter Destination Port number" name="dst_port" id="dst_port">
                 </div>
                 <div class= "input-field" >
                         <label for="rule">Rule Option: </label>
                         <select name="rule" id="rule">
                                 <option value="" selected="selected">Select rule</option>
                         </select>
                 </div>
                 <div class= "input-field" >
                         <label >Option1</label>
                         <select name="opt" id="opt">
                                 <option value="" selected="selected">Select Option</option>
                         </select>
                 </div>
                 <div class= "input-field" >
                         <label >Option2</label>
                         <select name="option1" id="option1">
                                 <option value="" selected="selected">Select Option</option>
                         </select>
                 </div>
                 <div class= "input-field" >
                         <input type="submit" value="Set Snort rule">
                     </div>
                 <div  class= "input-field">
                         <!-- <p>${generatedrule}</p> -->
                             <form action='repoSave' method="POST"> <input type='submit' value='Save to Database' class='savebtn'></form>
                 </div>
                 <div class="input-field">
                         <!-- <p>${repoAckn}</p> -->
                         <form action="rulefile" method="POST"><input type="submit" value="Add rule to file"  class='savebtn'></form>
                 </div>



             </div>
         </form>
     </div>
     </section>
